@font-face {
	font-family: "foo";
	src: url("http://example.com/foo.ttf");
}

@font-face {
	font-family: "bar";
	src: url("http://example.com/bar.ttf");
}

h1 {
	font-size: 2em;
	font-family: foo;
}
p {
	font-size: 1.5em;
	font-weight: bold;
}
div {
	font-size: 2.5em;
	font-weight: normal;
}
